<h1>Purchase an item</h1>

<form action="/checkout" method="post">

    <h2>Enter an item for purchase</h2>
    <label for="item">Item: </label>
    <input type="text" name="item">
    <br><br>
    <input type="submit" id="submit" value="Submit">

</form>